---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { Stack } from "@mui/material";
---

<Layout title='Devkimson' type='main'>
  <Stack>about</Stack>
  <a href="/">home</a>
</Layout>
