---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { Stack } from "@mui/material";
---

<Layout title='Devkimson' type='main'>
  <Stack>qwe</Stack>
  <a href="/about/">about</a>
</Layout>
