---
import { Container } from "@mui/material";
import Footer from "../components/Footer";
// import Footer from "../components/Footer";
import Header from "../components/Header";
import MainLayout from "./MainLayout";
import PostLayout from "./PostLayout";
export interface Props {
  title: string;
}

const { type, title } = Astro.props;

function renderFullPage(html, css) {
  return html;
}
---

<!DOCTYPE html>
<html lang='ko'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <meta name='emotion-insertion-point' />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <Container
      maxWidth='xl'
      sx={{
        height: "100%",
      }}
    >
      {
        type === "main" ? (
          <MainLayout client:only>
            <slot />
          </MainLayout>
        ) : (
          <PostLayout client:only>
            <slot />
          </PostLayout>
        )
      }
    </Container>
    <Footer />
  </body>
</html>

<style is:global>
  html,
  body {
    margin: 0;
    height: 100%;
    font-size: 16px;
  }
</style>
