---
import MainLayout from "./MainLayout.tsx";
import PostLayout from "./PostLayout.tsx";

export interface Props {
  title: string;
}

const { type, title } = Astro.props;

function renderFullPage(html, css) {
  return html;
}
---

<!DOCTYPE html>
<html lang='ko'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <meta name='emotion-insertion-point' />
    <title>{title}</title>
  </head>
  <body>
    {
      type === "main" ? (
        <MainLayout client:only>
          <slot />
        </MainLayout>
      ) : (
        <PostLayout client:only>
          <slot />
        </PostLayout>
      )
    }
  </body>
</html>

<style is:global>
  html,
  body {
    margin: 0;
    height: 100%;
    font-size: 16px;
  }
</style>
